body {
    padding: 0;
    margin: 0;
    background: #fbe2b3 !important;
}
.heads  {
    margin-top: 50px;
    display: flex;
}

.top {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 50px;
    align-items: flex-end;
}

.game_place {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.leaft_col {
    width: 79%;
}

.name-game p {
    text-align: center;
    font-size: 35px;
}
.points-wind {
    height: 30px;
    width: 60px;
    background-color: white;
    margin-left: 2px;
    border: solid 1px black;
    border-radius: 5px;
}
.time-sek {
    height: 30px;
    width: 60px;
    background-color: white;
    margin-left: 2px;
    border: solid 1px black;
    border-radius: 5px;
}
.point p {
    margin-bottom: -3px;
    text-align: center;
}
.time {
    margin-left: 10px;
}
.time p {
    margin-bottom: -3px;
    text-align: center;
}
.points-wind, .time-sek{
    text-align: center;
}
.info {
    display: flex;
}
.name-persone p{
    font-size: 25px; 
    padding-top: 13px;  
}

.name-persone {
    min-height: 50px;
}

.games {
    margin-top: 3%;
    height: 500px;
    width: 100%;
    background-color:white;
    border: solid 1px black;
    border-radius: 5px;
    position: relative;
}
.result {
    margin-top: 12%;
    background-color: white;
    height: 500px;
    border: solid 1px black;
    border-radius: 5px;
}
.flex-cont {
    width: 20%;
}
.kybik {
    height: 15px;
    width: 15px;
    overflow: hidden;
    background-color: black;
    border-radius: 2px;
    position: absolute;
    display: none;
}
.name-result {
    display: flex;
    justify-content: left;
    margin-left: 5%;
}

li {
    list-style: none;
}




@media (max-width: 768px) {
    .leaft_col {
        width: 100%;
    }

    .flex-cont {
        width: 100%;
    }

    .result {
        margin-top: 0;
        height: min-content;
    }
}